<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/welcome/admin" >MONITOR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
        <!-- <li class="nav-item active">
          <a *ngIf="isUserLoggedIn" class="nav-link" routerLink="/temp">Temperature</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isUserLoggedIn" class="nav-link" routerLink="/**">Pressure</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isUserLoggedIn" class="nav-link" routerLink="/**">Humidity</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Device Readings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngIf="isUserLoggedIn" class="dropdown-item" routerLink="/temp">Temperature</a>
            <a *ngIf="isUserLoggedIn" class="dropdown-item" routerLink="/**">Pressure</a>
            <a *ngIf="isUserLoggedIn" class="dropdown-item" routerLink="/**">Humidity</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Past Alerts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngIf="isUserLoggedIn" class="dropdown-item" routerLink="/temp">Temperature</a>
            <a *ngIf="isUserLoggedIn" class="dropdown-item" routerLink="/**">Pressure</a>
            <a *ngIf="isUserLoggedIn" class="dropdown-item" routerLink="/**">Humidity</a>
          </div>
        </li>
        <li class="nav-item">
          <a *ngIf="isUserLoggedIn" class="nav-link" routerLink="/welcome/admin">Change Alert Type</a>
        </li>
       
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button *ngIf="!isUserLoggedIn" class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" type="button">Login</button>
        <button *ngIf="isUserLoggedIn" class="btn btn-outline-success my-2 my-sm-0" routerLink="/logout" type="button">Logout</button>
      </form>
    </div>
  </nav>
</header>