<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Alert Type
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a  class="dropdown-item btn-check" >Email</a>
          <a  class="dropdown-item btn-check" >SMS</a>
          <a  class="dropdown-item btn-check" >Phone Calls</a>
        </div>
      </div>
      <br>
    <button type="submit" class="btn btn-primary" (click)=regSuccess()>Submit</button>
  </form>