
<div class="container-fluid">
<h2>Welcome to MONITOR</h2>
<br>
<H4>User: {{welcomeMsg}}</H4>
<H4>Last ALERT:</H4>

<br><br>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Change Alert Type
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a  class="dropdown-item btn-check" >Email</a>
      <a  class="dropdown-item btn-check" >SMS</a>
      <a  class="dropdown-item btn-check" >Phone Calls</a>
    </div>
  </div>
</div>